<html>
<head>
<title>Primes</title>
</head>
<body>
<h2>Prime numbers</h2>
<form action="/display" method="post">
<p>Enter any number to get all prime numbers between 1 and your number.</p>
Number: <input type="text" name="number" id= "demo1"/>
<input type="submit" name="submit" value="Display Prime"/>
</form>
<form action ="/verify" method="post">
<p>Enter any number to check if it is prime.</p>
Number: <input type="text" name="chknumber" id= "demo2"/>
<input type="submit" name="submit" value="Check Prime"/>
</form>
</body>
</html>

