<html>
<head>
<title>Primes</title>
</head>
<body>
<h2>Prime numbers</h2>
<form action="/verify" method="post">
<% if(results === true) { %>
<p>The number is prime</p><br>
<% } else { %>
<p>The number is not prime</p><br>
<% } %>
</form>
</body>
</html>